.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 44px;
}

@media all and (min-width: 1280px) {
  .main {
    margin-top: 52px;
  }
}
