.lead__title {
  margin: 0;
  padding: 0 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  max-width: 720px;
}

@media all and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
  }
}
