.intro {
  align-self: flex-start;
  box-sizing: border-box;
  color: #fff;
  margin: 64px 16px 0;
  padding: 0;
  text-align: left;
}

@media all and (min-width: 768px) {
  .intro {
    margin: 88px 24px 0;
  }
}

@media all and (min-width: 1024px) {
  .intro {
    margin: 92px 48px 0;
    width: 690px;
  }
}

@media all and (min-width: 1280px) {
  .intro {
    margin: 92px 148px 0;
  }
}
