.place__website {
  padding: 0 16px;
}

@media all and (min-width: 768px) {
  .place__website {
    display: block;
    padding: 0;
  }
}

@media all and (min-width: 1024px) {
  .place__website {
    align-self: flex-end;
  }
}
