.photo {
  box-sizing: border-box;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 12px 12px;
  margin: 64px auto 14px;
  padding: 0 16px;
}

@media all and (min-width: 768px) {
  .photo {
    gap: 16px 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 88px;
    padding: 0 24px;
  }
}

@media all and (min-width: 1024px) {
  .photo {
    gap: 14px 14px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 92px;
    margin-bottom: 20px;
    padding: 0 48px;
  }
}

@media all and (min-width: 1280px) {
  .photo {
    gap: 16px 16px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 92px;
    margin-bottom: 24px;
  }
}
